@import "vars";

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	background-color: #fff;

	img
	{
		width: 100px;

		&:hover
		{
			cursor: pointer;
		}
	}

	section
	{
		width: $post-width;
		margin-inline: 1rem;

		input
		{
			width: 100%;
			box-sizing: border-box;
		}
	}
}
