@import "vars";

main nav
{
	width: $post-width;
	background-color: #fff;
	padding: 1rem;
	box-sizing: border-box;

	@media screen and (min-width: $large-screen)
	{
		width: $post-width;
		border-radius: $border-radius;
		margin-top: 1rem;
	}
	@media screen and (max-width: $small-screen)
	{
		width: 100%;
	}
}