@import "vars";

#posts
{
	flex: 1;
}

#posts .post
{
	display: flex;
	background-color: #fff;

	@media screen and (min-width: $large-screen)
	{
		padding: .5rem;
		border-radius: $border-radius;
		margin-bottom: 1rem;
	}
	@media screen and (max-width: $small-screen)
	{
		padding: 0 .5rem;
		margin-bottom: .25rem;
	}

	.upsBar
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		$width: 2.5em;
		min-width: $width;
		max-width: $width;
		box-sizing: border-box;
		padding: .5rem;
		font-family: 'Comic Neue', cursive;

		img
		{
			max-width: 20px;

			&:hover
			{
				cursor: pointer;
			}
		}
		.hideSpan {
			display: flex;
			color: red;
			font-size: 13px;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	.postMain
	{
		display: flex;
		flex-direction: column;
		padding: .5rem;
		width: 100%;

		.postInfo
		{
			.subtitle
			{
				color: rgb(100, 100, 100);
				font-size: 13px;

			}

			.title
			{
				margin: 0;
			}
		}

		.postContent
		{
			display: flex;
			flex-direction: column;
			margin-top: 1rem;

			img
			{
				max-width: 100%;
				border-radius: $border-radius;
			}
		}
	}
}