@import "vars";

output
{
	margin-top: 1rem;

	@media screen and (min-width: $large-screen)
	{
		width: $post-width;
	}
	@media screen and (max-width: $small-screen)
	{
		width: 100%;
	}

	.post
	{
		@media screen and (min-width: $large-screen)
		{
			padding: .5rem;
			border-radius: $border-radius;
		}
		@media screen and (max-width: $small-screen)
		{
			padding: 0 .5rem;
		}
		background-color: #fff;

		display: flex;

		.upsBar
		{
			padding: .5rem;
			display: flex;
			flex-direction: column;
			max-width: 55px;
		}

		.postMain
		{
			display: flex;
			flex-direction: column;
			padding: .5rem;
			max-width: 100%;

			.postInfo
			{
				.title
				{
					margin-top: 0;
				}
			}

			.postContent
			{
				display: flex;
				flex-direction: column;
				margin-top: 1rem;

				img
				{
					max-width: 100%;
					border-radius: $border-radius;
				}
			}
		}

		&:not(:last-child)
		{
			@media screen and (min-width: $large-screen)
			{
				margin-bottom: 1rem;
			}
			@media screen and (max-width: $small-screen)
			{
				margin-bottom: .25rem;
			}
		}
	}
}