@import "vars";

output #sidebar
{
	font-size: .72rem;

	@media screen and (min-width: $large-screen)
	{
		width: 30%;
		margin-left: 1rem;
	}
	@media screen and (max-width: $small-screen)
	{
		width: 100%;
	}

	.sidebox
	{
		background-color: #fff;

		@media screen and (min-width: $large-screen)
		{
			border-radius: $border-radius;
			margin-bottom: 1rem;
			padding: 1rem;
		}
		@media screen and (max-width: $small-screen)
		{
			margin-bottom: .25rem;
			padding: .5rem;
		}
	}

	#info
	{
		@extend .sidebox;

	}

	#rules
	{
		@extend .sidebox;

		h3
		{
			margin: 0;
		}

		ul
		{
			padding-left: 1rem;
			padding-bottom: .25rem;
			border-bottom: 1px solid lightgray;

			p
			{
				margin: .25rem;
			}
		}
	}

	&.hidden
	{
		width: 0;
	}
}
