@import "vars";

body
{
	margin: 0 !important;
	background-color: $color-bg;
}

main
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@import "header";
@import "posts";
@import "nav";
